{% extends "pcr_detail/templatetags/scoretable/base_scoretable.html" %}
{% load prettify %}

{% block key %}
  <th scope="col" class="col_code">
    <div class="sort-icon"></div>
    <span class="th-text">Code</span>
  </th>
{% endblock %}

{% block body %}
  {% regroup reviews|dictsort:"section.course.coursehistory.alias" by section.course.coursehistory as course_list %}
  {% for group in course_list %}
    {% with coursehistory=group.grouper %}
    <tr id="row_display_{{forloop.counter0}}" class="row_display" onclick="toggle_course_row({{forloop.counter0}})">
      <td class="col_icon">
      </td>
      <td class="col_code">
        <a href="../course/{{coursehistory.alias}}" onclick="toggle_course_row({{forloop.counter0}})">
          {{coursehistory.alias}}
        </a>
      </td>
        {% with reviews=group.list %}
      <td class="col_name">
          {{reviews|sectionname|title|capitalize_improved}}
      </td>
          {% with reviews|recent as recent %}
            {% for attribute in reviews|columns %}
            <td class="col_{{attribute}}">
              <span class="cell_average">{{reviews|average:attribute|floatformat:2}}</span>
              <span class="cell_recent">{{recent.ratings|get:attribute|floatformat:2}}</span>
            </td>
            {% endfor %}
          {% endwith %}
        </tr>
      {% endwith %}
    {% endwith %}
  {% endfor %}
{% endblock %}

