[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
coverage = "*"

[packages]
dj-database-url = "*"
django-cors-headers = "*"
django-extensions = "*"
mysqlclient = "*"
raven = "*"
requests = "*"
staticgenerator = "*"
Django = "*"
uwsgi = "*"
django-labs-accounts = "*"
slackclient = "*"

[requires]
python_version = "3"
