# Uncomment this to force debug mode, ignoring environment variables.
# DEBUG = True

# The token that the frontend uses to communicate with the API backend.
# PCR_API_TOKEN = ""

# The domain that the API backend is running on.
# DOMAIN = "http://localhost:8001/"
