# Uncomment this to force debug mode, ignoring environment variables.
# DEBUG = True

# The token that the frontend uses to communicate with the API backend.
# This will override the value set in an environment variable if it is set.
# PCR_API_TOKEN = ""

# For hitting the API
DOMAIN = "http://api.penncoursereview.com/v1/"
