@charset "utf-8";
/* CSS Document */

#header {
display: none;
}

#search {
}

#title{
	margin-left: auto;
	margin-right: auto;
	padding: 100px 0px;
	font-size: 100px;
	color: rgb(255, 255, 255);
	width: 800px;
	text-align: center;

} {
	margin-bottom:25px;
}

#search-loading {
	text-align:center;
  	display:none;
}

#search-container {
}

#loading-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#loading-container {
  background-color: #FFF;
  z-index: 1;
  top: 97px;
  left: 240px;
  width: 458px;
  overflow: hidden;
}

#searchbar{	
	background-color: rgb(255, 255, 255);
	height: 80px;
	width: inherit;
	border-radius: 7px;
	z-index: 5;
	width: 100px;
}
#searchbox {
	margin: 10px 20px;
	height: 60px;
	width: 760px;
	border: none;
	font-family: 'Lato', helvetica, sans-serif;
	font-size: 40px;
	color: rgb(100, 100, 100);
	z-index: 10;
}

.search{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	width: 800px;
	height: 80px;
	position: relative;
}
.bar{
	position: absolute;
	top: 0px;
	background-color: rgb(255, 255, 255);
	height: 80px;
	width: inherit;
	border-radius: 7px;
	z-index: 5;


}
.text{
	margin: 10px 20px;
	height: 60px;
	width: 760px;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	color: rgb(100, 100, 100);
	z-index: 10;

}

.text:focus{
	outline: none;
}

.text + .bar{
	background-color: red;
}

.shadow{
	position: absolute;
	top: 70px;
	background-color: rgba(255, 255, 255, 0.5);
	height: 17px;
	width: inherit;
	border-radius: 0px 0px 7px 7px;
	box-shadow: none;
}

.results{
	position: relative;
	padding-top: 100px;
	width: inherit;

}

.result-item{
	background-color: rgb(255, 255, 255);
	height: 50px;
	width: inherit5
	border-radius: 7px;

}


#subtitle {
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#636363;
}

#questions {
	min-height: 100%;
}

#projectby {
	margin-top:35px;
	margin-bottom:15px;
}
