@charset "utf-8";
/* CSS Document */

#header {
    display: none;
}

#title {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 100px;
    width: 800px;
    text-align: center;
}

#title img {
    width: 128px;
    height: 128px;
}

#searchbar {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: inherit;
    border-radius: 7px;
    z-index: 5;
    width: 100px;
}
#searchbox {
    margin: 10px 20px;
    height: 60px;
    width: 760px;
    border: none;
    font-family: 'Lato', helvetica, sans-serif;
    font-size: 40px;
    color: rgb(100, 100, 100);
    z-index: 10;
}

#search {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 800px;
    position: relative;
}

#search .selectize-input {
    background-color: white;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.07);
    height: 60px;
    border-radius: 0;
}

#search .selectize-input input[type="text"] {
    font-size: 30px;
    height: inherit;
}

#subtitle {
    text-align:center;
    font-family:"Times New Roman", Times, serif;
    font-size:14px;
    color:#636363;
}

#questions {
    min-height: 100%;
}

#projectby {
    margin-top:35px;
    margin-bottom:15px;
}
