{% load prettify %}
<div id="banner-score" class="grid_4">
  {% for row in scorecard %}
    <div class="grid_4 alpha omega scoreboxrow">
      <div class="grid_1 alpha scoredesc">
        <p class="title">{{row.title}}</p>
        <p class="subtitle">{{row.subtitle|semester}}</p>
      </div>
      {% for cell in row %}
        {% if cell == row|last %}
          <div class="grid_1 omega scorebox">
        {% else %}
          <div class="grid_1 scorebox">
        {% endif %}
            <p class="num">{{cell.number|score}}</p>
            <p class="desc">{{cell.description}}</p>
          </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
