{% extends "base.html" %}

{% block htmlheader-links %}
{% endblock %}

{% block htmlheader-js %}
{% endblock %}

{% block htmlheader-style %}
	<style>
		#content {
			background-position: 0 -2px;
		}
		#staff span.title {
			color:#636363;
			font-style:italic;
		}
	</style>
{% endblock %}

{% block banner-div %}
{% endblock %}

{% block content-content %}
	<div class="clear" style="margin-top:15px"></div>
	<div class="grid_8">
		<h1>About</h1>
		<p>The Penn Course Review is a student-run publication that provides numerical ratings and written reviews for undergraduate courses taught at the University of Pennsylvania. PCR has a long history of being a valuable and influential guide for course selection and is currently leading an effort to increase the number of written course reviews offered.</p>
		<p>The Penn Course Review compiles its information from online course evaluations conducted at the end of each semester by the Provost's office in conjunction with ISC. </p>
		<p>As of Spring 2011, our website has been completely redesigned to make PCR's content more accessible and user-friendly.</p>
		<p>Your evaluations and comments feed the Review, so the more information you provide about your courses and professors, the more comprehensive Penn Course Review will be. </p>
		<p>Interested in becoming a part of an organization vital to the college careers of all Penn students? Have ideas on how we can continue to improve PCR? Apply for a position now.</p>
		<p>Thanks and happy searching,</p>
		<p>
			<strong>Michael Roberts</strong> <i>Editor-In-Chief, Penn Course Review</i><br/>
			<strong>Stephanie Rogan</strong> <i>Editor-In-Chief, Penn Course Review</i>
		</p>
	</div>
	
	<div id="staff" class="prefix_1 grid_3">
		<h1>Staff</h1>
		<p>
			Interested in joining PCR?<br/>
			<a href="https://spreadsheets.google.com/viewform?hl=en&formkey=cGZXdUdLSE5KRzh2TnJtLWdVdEhESUE6MA">
				Apply now!
			</a><br/><br/>
		</p>		
		<p>
			Michael Roberts<br/>
			<span class="title">Editor-In-Chief</span>
		</p>
		<p>
			Stephanie Rogan<br/>
			<span class="title">Editor-In-Chief</span>
		</p>
		<p>
			Arielle Van Backer<br/>
			<span class="title">Managing Editor</span>
		</p>
		<p>
			Aaron Wilson<br/>
			<span class="title">Managing Editor</span>
		</p>
		<p>
			Spencer Braun<br/>
			<span class="title">Managing Editor</span>
		</p>
		<p>
			Jillian Cohn<br/>
			<span class="title">Marketing Director</span>
		</p>
	</div>
  <div class="clear"></div>
{% endblock %}