{% extends "item_base.html" %}

{% load table %}

{% block title %}
	Penn Course Review - {{title}}
{% endblock %}

{% block info %}
<p class="title">{{title}}
	<span class="crosslist">
		{% if aliases %}
			(Also:
			<a href="{{aliases.0}}">{{aliases.0}}</a>{% for alias in aliases|slice:"1:" %},
				<a href="{{alias}}">{{alias}}</a>{% endfor %})
		{% endif %}
	</span>
</p>
<p class="subtitle">{{course.name|title}}</p>
<p class="desc">{{course.description}}</p>
{% endblock %}

{% block content-section %}
	{% course_table score_table %}
{% endblock %}
