{% extends "base.html" %}

{% block htmlheader-links %}
	<link type="text/css" href="media/front-end/css/flick/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
	<link rel="stylesheet" href="media/front-end/css/960_12_col.css" />
	<link rel="stylesheet" href="media/front-end/css/reset.css" />	
	<link rel="stylesheet" href="media/front-end/css/searchbox.css" />		
	<link rel="stylesheet" href="media/front-end/css/base.css" />		
	<link rel="stylesheet" href="media/front-end/css/index.css" />
{% endblock %}

{% block htmlheader-js %}
	<script type="text/javascript" src="media/front-end/js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="media/front-end/js/modernizr.custom.js"></script>	
	<script type="text/javascript" src="media/front-end/js/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="media/front-end/js/searchbox.js"></script>
	<script type="text/javascript" src="media/front-end/js/index.js"></script>
{% endblock %}



{% block title %}
	{{ block.super }}
{% endblock %}


{% block header-content %}
{% endblock %}


{% block banner-content %}
	<div id="search" class="grid_6 prefix_3 suffix_3">
		<img id="title" src="media/front-end/image/indextitle.png" alt="Penn Course Review">
		<div id="search-loading">			
			<img id="loading-bar" src="media/front-end/image/loadingbar.gif" alt="loading"/>
			<p id="loading-text">Downloading 26,709 courses, 6,588 instructors, and 47,414 reviews...</p>
		</div>
		<div id="search-container">
			<div id="searchbar">
				<input id="searchbox" type="text" value="" />
				<input type="submit" value="" />
				<div class="clear"></div>
			</div>
			<p id="subtitle">
				Search for a class, a professor, or a department.  E.g., ECON, Siegal, ECON001
			</p>
		</div>
	</div>
	<div class="clear"></div>
{% endblock %}


{% block content-content %}
	<div class="clear" style="margin-top:15px"></div>
	<div class="grid_8">
		<h1>Welcome!</h1>
		<p>Welcome to the new Penn Course Review!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>		
	</div>
	<div id="questions" class="prefix_1 grid_3">
		<h1>Questions?</h1>
		<p>If you have any questions, take a look at our FAQs section.</p>
		<p>
			Feedbacks or comments? <br/> Please contact us at
			<a href="mailto:pennappslabs@pennapps.com">pennappslabs@pennapps.com</a>
		</p>
		
		
		<div id="projectby">
			<p>
				A project by <br/>
				<a href="http://pennapps.com/labs/">
					<img style="margin-top:-20px;" src="media/front-end/image/pennapps-sm-gray.png" alt="PennApps Labs" />
				</a>
			</p>
		</div>
	</div>	
	
	<div class="clear"></div>
	
	
{% endblock %}