{% extends "base.html" %}

{% block htmlheader-links %}
	<link rel="stylesheet" href="media/front-end/css/index.css" />
{% endblock %}

{% block htmlheader-js %}
	<script type="text/javascript" src="media/front-end/js/index.js"></script>
{% endblock %}



{% block title %}
	{{ block.super }}
{% endblock %}


{% block header-content %}
{% endblock %}


{% block banner-content %}
	<div id="search" class="grid_6 prefix_3 suffix_3">
		<img id="title" src="media/front-end/image/indextitle.png" alt="Penn Course Review">
		<div id="search-loading">			
			<img id="loading-bar" src="media/front-end/image/loadingbar.gif" alt="loading"/>
			<p id="loading-text">Downloading 26,709 courses, 6,588 instructors, and 47,414 reviews...</p>
		</div>
		<div id="search-container">
			<div id="searchbar">
				<input id="searchbox" type="text" value="" />
				<input type="submit" value="" />
				<div class="clear"></div>
			</div>
			<p id="subtitle">
				Search for a class or a professor, e.g., Siegel, ECON001, Intro to Philosophy
			</p>
		</div>
	</div>
	<div class="clear"></div>
{% endblock %}


{% block content-content %}
	<div class="clear" style="margin-top:15px"></div>
	<div class="grid_8">
		<h1>Welcome!</h1>
		<p>Welcome to the new Penn Course Review!</p>
		<p>Miss the old version? Here's the <a href="http://old.penncoursereview.com">original Penn Course Review</a>, and don't forget to <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFNZYW92cFM1YnpKUzlLcXRDZVQ4VGc6MQ#gid=0faq">let us know</a> what we're missing.</p>
	</div>
	<div id="questions" class="prefix_1 grid_3">
		<h1>Questions?</h1>
		<p>If you have any questions, take a look at our <a href="faq">FAQs</a> section.</p>
		<p>
			If you have any comments, we'd love to hear your
			<a href="https://docs.google.com/spreadsheet/viewform?formkey=dFNZYW92cFM1YnpKUzlLcXRDZVQ4VGc6MQ#gid=0faq">feedback</a>!
		</p>
		
		
		<div id="projectby">
			<p>Developed by</p>
			<div style="margin-top:-45px; text-align:center;">
				<a href="http://pennapps.com/labs/" style="border:none">
					<img style="display:inline-block;" src="media/front-end/image/pennapps-sm-gray.png" alt="PennApps Labs" />
				</a>
			</div>
		</div>
	</div>	
	
	<div class="clear"></div>
	
	
{% endblock %}
