@charset "utf-8";
/* CSS Document */


.background{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -100;
  background-color: #90b8cb;
  background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(102, 146, 161)), to(rgb(144, 184, 203)));
  background-image: -webkit-radial-gradient(50% 50%, rgb(144, 184, 203), rgb(102, 146, 161));
  background-image: -moz-radial-gradient(50% 50%, rgb(144, 184, 203), rgb(102, 146, 161));
  background-image: -ms-radial-gradient(50% 50%, rgb(144, 184, 203), rgb(102, 146, 161));
  background-image: radial-gradient(50% 50%, rgb(144, 184, 203), rgb(102, 146, 161));
  background-repeat: no-repeat;
}

a, p, span {
  font-family: Lato, Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

th, td {
  vertical-align: middle;
}

div {
  position:relative;
}

body {
  font-family:Lato, Helvetica, sans-serif;
  font-size:15px;
    margin: 0px;


  color: #ffffff;
}

a{
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2px 4px;
  border-radius: 2px;
  color:#ffffff;
  text-decoration:none;
  cursor:pointer;

}
a:hover {

}

input {
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
}

.shadow {
  box-shadow:         0px 2px 10px #808080;
  -moz-box-shadow:    0px 2px 10px #808080;
  -webkit-box-shadow: 0px 2px 10px #808080;
}

.disable-selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#loading-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#loading-container {
  background-color: #FFF;
  z-index: 1;
  top: 20px;
  left: -1px;
  width: 218px;
  overflow: hidden;
  display: none;
}

#content a:not(.logo){
  background-color: rgba(255, 255, 255, 0.15);
}
#content a:hover:not(.logo){
  background-color: rgba(255, 255, 255, 0.25);
}
#header {
  background-color: #ffffff;
  height:60px;
  color:#FFF;
}
#title {
  font-family: 'BebasNeueRegular';
  font-size: 30px;
  color: #90b8cb;
  margin-top: 17px;
}
.courseCartHeader {
  margin-top: -20px;
  font-size: 40px;
}
.courseCartDesc {
  max-width: 650px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#header a {
  color:#646464;
}
#header #linkbar a:hover {
  background-color: rgb(240, 240, 240);

}

.header-item{
  float: left;
  height: 60px;
}

#linkbar {
  margin-top:18px;
  text-align:right;
  margin-left: 40px;
}
#linkbar a {
  border-bottom: none;
}
#linkbar a,
#linkbar span {
  display: inline-block;
}
#searchbar{
  /*float: right;
  margin-top: 16px;
  */background-color: rgb(240, 240, 240);
  width: 218px;
  height: 28px;
  border-radius: 5px;
}
#searchbar input[type=text] {
  width:178px;
  height: 20px;
  background-color: rgb(240, 240, 240);
  float:left;
  font-family: 'Lato', helvetica, sans-serif;
  font-size: 16px;
  color: rgb(100,100,100);
  margin: 4px 0px 4px 12px;
  outline: none;

}

#searchbar input[type=text]:hover {
  outline: none;

}

#searchbar input[type=submit] {
  background:url(../image/search.png) no-repeat;
  background-size: 16px;
  background-position: 6px 6px;
  border: none;
  background-color: #90b8cb;
  width:28px;
  height:28px;
  float:left;
  cursor:pointer;
  border-radius: 0px 5px 5px 0px;
}
#searchbar input[type=submit]:hover {
}
#searchAndCart {
  float: right;
  margin-top: 16px;
}
#searchAndCart > a {
  color: #646464;
  margin-left: 10px;
  font-size: 23px;
  padding-top: 2px;
}
#searchAndCart > a:hover {
  color: #90b8cb;
  cursor: pointer;
}
#searchAndCart > a {
  text-decoration: none;
}


/***** BANNER *****/

.instructor {
  margin-top: 90px;
}

#banner {
  margin-top: 50px;
}
#banner-bg {
}
#banner-inner {
}
#banner-info {
  width: 600px;
  float: left;
}
#banner-info .title {
  font-family: 'BebasNeueRegular';
  font-size:60px;
  color:#ffffff;
  line-height: 35%;
  padding-bottom: 15px;
}
#banner-info .subtitle {
  font-family: 'BebasNeueRegular';
  font-size:40px;
  color:#595959;
  margin-bottom: 20px;
}
#banner-info .crosslist {
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  color:#636363;
}
#banner-info .nowrap {
  white-space: nowrap;
}
#banner-info p.desc {
  line-height:150%;
}
#banner-score {
  width: 360px;
  margin: 20px 0px;
  float: right;
}
.scoreboxrow {
  padding-bottom:20px;
  width: inherit;
  float: left;
}
.courseCartRow > .scorebox {
  height: 90px;
  width: 90px;
}
.courseCartRow > .scorebox-shadow {
  height: 90px;
  width: 90px;
  margin-left: -90px;
}
.courseCartRow {
  margin-top: 20px;
  width: 440px;
  padding-left: -200px;
  margin-left: 29px; 
  float: none;
}
.scoredesc {
  width: 140px;
  height: 60px;
  margin-right: 10px;
  float: left;
  text-align: right;
}
.courseCartRow > .scorebox > .desc {
  font-size: 15px;
  margin-top: -21px;
}
.courseCartRow > .scorebox > .num {
  font-size: 36px;
}
.scoredesc .title {
  margin-top: 8px;
  color:#ffffff;
  font-size: 20px;
}
.scoredesc .subtitle {
  color:#636363;
  font-size: 14px;

}
.scorebox-shadow{
  height:60px;
  width: 60px;
  background: rgba(255,255,255, 0.6);
  margin-left: -60px;
  margin-top: 5px;
  z-index: -10;
  float: left;
  border-radius: 5px;
}
.scorebox {
  height:60px;
  width: 60px;
  margin-left: 10px;
  float: left;
  border-radius: 5px;
  text-align:center;
  background: rgb(255,255,255);
}
.scorebox .num {
  font-size:24px;
  color: rgb(102, 146, 161);
  margin-top:10px;
}
.scorebox .desc {
  font-size:10px;
  color: rgb(102, 146, 161);
  margin-top:3px;
}

#content {
  padding-top:15px;
}
#content p {
  line-height:150%;
  margin-bottom:15px;
}
#content h1 {
  font-family: "BebasNeueRegular";
  font-weight: 100;
  font-size:70px;
  margin-bottom:15px;
}

/***** CONTENT-SETTINGS *****/

#content-settings {
  font-size:14px;
  margin: 20px 0px;
}
#content-settings .label {
  display:inline;
  padding:2px;
}
#content-settings .button {
  font-family: Lato, Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color:#ffffff;
  cursor:pointer;
  display:inline;
  padding:2px;
}
#content-settings .button:hover {
  background-color: rgba(255,255,255,0.2);
}
#settings-viewmode .button,
#settings-viewmode .label {
  float:left;
}
#settings-viewmode .button {
  padding: 2px 4px;
  border: 1px solid white;
}
#settings-viewmode .button.selected {
  color: rgb(102, 146, 161);
  background: #ffffff;
  padding: 2px 4px;
  cursor:default;
}
#settings-other .button {
  float:right;
  margin-left:10px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}
#table-div {
  width: 880px;
  overflow: scroll;
}

#content-section {
  padding: 40px;
  margin: 0px;
  background-color: rgb(255,255,255);
  border-radius: 5px;
}

/***** CONTENT-TABLE *****/

#course-table {
  width:100%;
  position:relative;
}
#course-table td,
#course-table th {
  /*display: none;*/
}
#course-table th {
  border-bottom: 2px solid #636363;
  font-weight:bold;
  color: rgb(102, 146, 161);
  padding: 10px 5px;
}
#course-table td {
  border-bottom: 1px solid #CCC;
  color:#636363;
  padding:20px 5px;
  width:5%;
}

#course-table a{
  color: rgb(102, 146, 161);
  border-color: rgb(102, 146, 161);
}

#course-table .col_icon {
  width:.01%;
}
#course-table .col_code,
#course-table .col_semester,
#course-table .col_section,
#course-table .col_responses {
  width:2%;
}
#course-table .col_code {
  width:6%;
}
#course-table tr.row_display td {
  cursor:pointer;
}
#course-table tr.row_display:hover td {
  background-color: #eeeeee;
  color:#000000;
}
#course-table tr.row_hidden {
  /*display: none;*/
}
#course-table td.td_hidden {
  padding: 10px 10px 10px 10px;
/*  background:#fffeee;
*/}
#course-table .toggle_button {
  width:9px;
  height:9px;
  background:url(../image/togglebutton.png) top left;
}
#course-table th.header {
  cursor:pointer;
}
#course-table th.header:hover {
  background:#eeeeee;
}



#section-table {
  width: 100%;
}
#section-table td {
  padding:5px 5px;
  font-size: 12px;
  border-bottom-color: #CCC;
/*  color:#636363;
*/}
#section-table .sec_th {
  border-bottom: 2px solid #CCC;
  font-weight:bold;
}
#section-table td.sec_td_hidden {
  padding: 20px 10px;
}
#section-table tr.sec_row_display td {
  /*cursor:pointer;*/
}
#section-table tr.sec_row_display:hover td {
  /*
  background-color:#f2f2f9;
  color:#000000;*/
}
#section-table tr.sec_row_hidden {
/*display: none;*/
}
#section-table .sec_td_hidden p{
  line-height:150%;
  margin-bottom:0px;
}
#section-table tbody tr:last-child td {
  /*border-bottom:none;*/
}

#course-table div.sort-icon {
  width:11px;
  height:11px;
  background-position: 0 11px;
  background:url(../image/sorticon.png) no-repeat;
  float:right;
  margin-top: 2px;
}
#course-table div.sort-icon:hover {
  background-position: 0 0;
}
#course-table .headerSortUp div.sort-icon {
  background-position: 0 -11px;
}
#course-table .headerSortDown div.sort-icon {
  background-position: 0 -22px;
}
#course-table th.header.headerSortUp,
#course-table th.header.headerSortDown {
  background:#eeeeee;
}

.col_instructor > a {
  border: none;
}

#course-table div.fold-icon {
  width:11px;
  height:11px;
  background-position: 0 0;
  cursor:pointer;
}
#course-table div.fold-icon {
  background:url(../image/foldbutton.png) no-repeat;
}
#course-table div.fold-icon:hover {
  background-position: 0 -11px;
}
#course-table div.fold-icon.open {
  background-position: -11px 0;
}
#course-table div.fold-icon.open:hover {
  background-position: -11px -11px;
}
#course-table th div.fold-icon {
  background:url(../image/foldbuttonheader.png) no-repeat;
}
#section-table div.comment-icon {
  width:12px;
  height:12px;
  background-position: 0 0;
  cursor:pointer;

	background:url(../image/commentbutton.png) 0 0 no-repeat;
}
#section-table div.comment-icon:hover {
  background-position: 0 -12px;
}
#section-table div.comment-icon:active {
  background-position: 0 -24px;
}
#section-table .sec_th div {
  background:url(../image/commenticon.png) 0 0 no-repeat;
  width:12px;
  height:12px;
}

/***** FOOTER *****/

#footer {
  margin:15px 0px;
  color: #ffffff;
}
#footer a {
  border:none;
}
#footer-inner {
  padding:30px 0px;

  text-align:center;
  font-size:10px;
}
#copyright {
  margin-top:5px;
}

/***** CHOOSE COLUMNS BOX *****/

#choose-cols {
  display:none;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}
#choose-cols-inner {
  position:absolute;
  top:75px;
}
#choose-cols-content {
  background-color:#FFF;
  padding:15px;
  border-radius: 5px;
}
#choose-cols-content p {
  margin-bottom:10px;
  color: #636363;
}
#choose-cols-content h1 {
  font-size:24px;
  font-weight:normal;
  color:#636363;
  margin-bottom:15px;
  padding-bottom:10px;
}
#choose-cols-content h2 {
  font-size:12px;
  color:#636363;
  margin-top:15px;
  margin-bottom:10px;
}
#choose-cols-content #select-all {
  margin-bottom:25px;
  color: #6666b3;
}
#choose-cols-content div.col {
  width:50%;
  float:left;
}
#choose-cols-content div#buttons {
  text-align:center;
  margin-top:5px;
}
#choose-cols-content input[type="button"] {
  border: 1px solid #636363;
  color: #636363;
  background-color: #eeeeee;
  cursor: pointer;
  padding: 5px 0;
  width: 85px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin:0 5px;
}
#choose-cols-content input[type=button]:hover {
  color:#ffffff;
  background-color: #636363;
}

div#hidden {
  display:none;
}


/*
We used to have different templates for faq and about but merged them into static.
The result is this, which is a little unclean, but it works.
*/
#staff span.title {
  color:#636363;
  font-style:italic;
}
#faqs p.question {
  color: #636363;
  font-size: 24px;

  margin-bottom:8px;
}
#faqs p.answer {
  margin-bottom:8px;
}
#faqs a.backtotop {
  font-size:10px;    }
#faqs div {      margin-bottom: 25px;
}
#faqlinks ul {
  list-style: none inside none;    }
#faqlinks li {      list-style-type: none;
  list-style-image: none;
  margin-bottom: 10px;
}
.courseCart, #remove {
  white-space: nowrap;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin-bottom: 8px;
  vertical-align: 6px;
}
#remove {
  vertical-align: 2px;
  float: right;
}
.popover-title{
  background: rgba(0,0,0,0);
  padding: 4px;
  margin-bottom: 3px;
  font-family: 'BebasNeueRegular';
  font-size: 20px;
}
.popover {
  cursor: default;
  background-color: rgba(73,73,73,0.7);
}
#popup {
  float: right;
  font-size: 20px;
}
.professorList {
  color: #636363;
  list-style-type: none;
}
.professorList > li > button {
  color: #636363;
  font-size: 80%;
  margin: 3px;
  padding-right: 5px;
  background-color: white;
  border: 1px #636363 solid;
  border-radius: 5px;
  margin-bottom: 4px; 
  cursor: pointer;
}
.professorList > li > button:hover {
  background-color: #90b8cb;
  color: white;
}
.professorList > tbody> tr > td > button {
  color: #636363;
  width: 27px;
  font-size: 80%;
  margin: 3px;
  background-color: white;
  border: 1px #636363 solid;
  border-radius: 5px;
  margin-bottom: 4px; 
  cursor: pointer;
}
.professorList > tbody > tr > td > button:hover {
  background-color: #90b8cb;
  color: white;
}
.professorList > tbody > tr > td > button.grayedOut:hover, .professorList > tbody > tr > td > button.grayedOut {
  background-color: gray;
  color: #303030;
  cursor: default;
}

/***** TOOLTIPS **/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #595959;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #595959 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/***** COURSE CART EXTRAS ***/

#courseBox {
  text-align: left;
  margin-top: 5px;
  background-color: #90b8cb;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  min-height: 150px;
  width: 470px;
}
.courseInBox {
  margin-bottom: 6px;
  padding-left: 7px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 1px;
  margin-right: 6px;
}
.courseInBox:hover {
  background: white;
  color: #90b8cb;
  cursor: pointer;
}
.courseInBoxGrayed {
  background-color: #cecece;
  color: #a8a8a8; 
}
.courseInBox > .fa-times {
  margin-bottom: 2px;
  margin-right: 4px;
}
.courseInBox > .fa-times:hover {
  color: #f45942;
}
#boxHelpTag {
  margin-top: 35px;
}

/***** FONTS *****/

.BNR{
  font-family: 'BebasNeueRegular';
}

.BNL{
  font-family: 'BebasNeueLight';
}

@font-face{
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeueRegular.otf');

}

@font-face{
  font-family: 'BebasNeueLight';
  src: url('../fonts/BebasNeueLight.otf');
}

@import url(//fonts.googleapis.com/css?family=Lato:100,300);
