@charset "utf-8";
/* CSS Document */

#header {
	height:10px;
}

#search {
	margin:60px 0;
}

#title {
	margin-bottom:25px;
}

#search-loading {
	text-align:center;
  display:none;
}
#loading-bar {
	display:inline-block;
	margin:10px 0;
}
#loading-text {
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#636363;
}
#search-container {
}

#loading-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#loading-container {
  background-color: #FFF;
  z-index: 1;
  top: 97px;
  left: 240px;
  width: 458px;
  overflow: hidden;
  display: none;
}

#searchbar{	
	background:#FFF;
	width:458px;
	border: 1px solid #000040;
	margin:0;
	margin-bottom:15px;
}
#searchbar input[type=text] {
	width:422px;
	height:24px;	
	
	border-right:1px solid #c2c2c2;	
	padding-right: 2px;
	margin: 3px 0px 3px 3px;
	
	float:left;
	
	font-size:14px;
}
#searchbar input[type=submit] {
	background:url(../image/searchbuttonlg.png) 0 0 no-repeat;
	border:0;
	width:30px;
	height:30px;
	float:left;
	cursor:pointer;
}
#searchbar input[type=submit]:hover {
	background-position:0px -30px;
}

#subtitle {
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#636363;
}

#questions {
	min-height: 100%;
}

#projectby {
	margin-top:35px;
	margin-bottom:15px;
}
