@charset "utf-8";
/* CSS Document */

#tutorial_overlay {
  display:none;
  
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  
  background:url(../image/bg-pix-75.png) repeat;
  color:#FFF;
}

#tutorial_overlay p {
  margin-bottom: 15px;
}

.tut-elem {
  position: absolute;
}
.tut-elem p {
  line-height: 150%;
}

#tut-close-button {
  background:url(../image/tut-close-button.png) no-repeat;
  width:67px;
  height:21px;
  
  right: 0px;
  top: 18px;
  
  cursor:pointer;
}
#tut-close-button:hover {
  background-position: 0px -21px;
}

#tut-viewmode {
  background:url(../image/callout-arrow-left.png) no-repeat left;
  width: 350px;
  height: 240px;
  
  left:-40px;
}
#tut-viewmode .inner {
  margin-top:18px;
  margin-left:55px;
}

#tut-ratings {
  background:url(../image/tut-vertical-line.png) no-repeat right;
  width: 160px;
  height: 175px;
  
  right:0px;
}
#tut-ratings .inner {
  margin-top:15px;
  margin-right:10px;
}
#tut-ratings .inner td {
  padding: 5px;
}

#tut-sort {
  background:url(../image/tut-horizontal-line.png) no-repeat bottom center;
  height: 27px;
  
  width: 350px;
  position: relative;
  margin: 0 auto;
  
  text-align: center;
}

#tut-choosecols {
  background:url(../image/callout-arrow-right-bottom.png) no-repeat right;
  width: 300px;
  height: 240px;
  
  right:-8px;
}
#tut-choosecols .inner {
  margin-top:85px;
  margin-right:55px;
}
