{% load prettify %}
{% if reviews|length > 0 %}
  <div id="content-section">
    <div id="table-div">
      <table id="course-table" class="d-none" count="{{table.body|length}}">
        <thead>
          <tr>
            {% block key %}
            {% endblock %}
            {% if show_name %}
            <th class="col_name">
              <span class="th-text">Class</span>
            </th>
            {% endif %}
            {% for attribute in reviews|columns %}
            <th class="col_{{attribute}}">
              <span class="th-text">{{attribute|reviewbit}}</span>
            </th>
            {% endfor %}
          <th class="col_section">Section</th>
          </tr>
        </thead>
        <tbody>
          {% block body %}
          {% endblock %}
        </tbody>
      </table>
    </div>
  </div>
  <div id="scroll-indicator">
      <div>Scroll down for previous {% block scroll_type %}classes{% endblock %}</div>
      <i class="fa fa-2x fa-chevron-down"></i>
  </div>


{% else %}
<p>No reviews found.</p>
{% endif %}
