{% extends "pcr_detail/templatetags/scoretable/base_scoretable.html" %}
{% load prettify %}
{% block key%}
<script>
  var COURSE_DATA = {};
  COURSE_DATA.instructors = [];
  COURSE_DATA.instructor_data = {};
  COURSE_DATA.instructor_data["average"] = {};
  COURSE_DATA.instructor_data["average"].course = title;
  COURSE_DATA.instructor_data["average"].info = [];
  {% for attribute in reviews|columns %}
    COURSE_DATA.instructor_data["average"].info.push({category: '{{attribute}}', recent: parseFloat({{reviews|recent|average:attribute|floatformat:2}}), average: parseFloat({{reviews|average:attribute|floatformat:2}})}); 
  {% endfor %}
</script>
<th scope="col" class="col_instructor">
  <span class="th-text">Instructor</span>
</th>
{% endblock %}

{% block body %}
  {% regroup reviews|dictsort:"instructor" by instructor as instructor_list %}
  <script>var profname = ""</script>
  {% for group in instructor_list %}
    {% with instructor=group.grouper %}
    <script>COURSE_DATA.instructors.push("{{instructor.name}}")</script>
    <tr id="row_display_{{forloop.counter0}}" class="row_display">
        <td class="col_instructor">
            <a href="{% url "instructor" instructor.id %}">
                {{instructor.name|title}}
            </a>
        </td>
        {% with all_cols=reviews|columns reviews=group.list %}
            {% if show_name %}
            <td class="col_name">
                {{reviews|sectionname|capitalize_improved|safe}}
            </td>
            {% endif %}
            {% with reviews|recent as recents %}
            <script>
            profName = '{{instructor.name}}';
            COURSE_DATA.instructor_data[profName] = {};
            COURSE_DATA.instructor_data[profName].course = title;
            COURSE_DATA.instructor_data[profName].info = [];
            </script>
            {% for attribute in all_cols %}
            <script>COURSE_DATA.instructor_data['{{instructor.name}}'].info.push({category: '{{attribute}}', recent: parseFloat({{recents|average:attribute|floatformat:2}}), average: parseFloat({{reviews|average:attribute|floatformat:2}})})</script>
            <td class="col_{{attribute}}">
                <span class="cell_average">{{reviews|average:attribute|floatformat:2}}</span>
                <span class="cell_recent">{{recents|average:attribute|floatformat:2}}</span>
            </td>
            {% endfor %}
        {% endwith %}
        <td class="col_section">{% include "pcr_detail/templatetags/scoretable/section_table.html" %}</td>
    </tr>
      {% endwith %}
    {% endwith %}
  {% endfor %}
  <script>
    var placeButton = function() {
      setCartButtonVisibility(!!localStorage.getItem(title));
    }
    initializeCartButton(!!localStorage.getItem(title));
    window.addEventListener('storage', placeButton);
    
  </script>
{% endblock %}
