<div id="choose-cols" class="container-12">
  <div id="choose-cols-inner" class="prefix_3 grid_6 suffix_3">
    <div id="choose-cols-content" class="shadow">
    
      <h1>Choose Columns to Display</h1>
      
      {% for i in fields|slice:"1:-1" %}
      <p><input type="checkbox" name="{{i.0}}" value="{{i.0}}" />{{i.1}}</p>
      {% endfor %}
      
      <div class="buttons">
        <input type="button" value="Submit" onclick="submit_choose_cols()" />
        <input type="button" value="Cancel" onclick="cancel_choose_cols()" />
      </div>
    
    </div>
  </div>
</div>
