<div id="content-settings" class="grid_12">
  <div id="settings-viewmode" class="grid_4 alpha">
    <span class="label">View:&nbsp;</span>
    <span id="view_average" class="button selected" onclick="set_viewmode(0)">Average</span>
    <span id="view_recent" class="button" onclick="set_viewmode(1)">Recent</span>
  </div>
  <div id="settings-other" class="grid_8 omega">
    <span class="button" onclick="$('#tutorial_overlay').show()">&nbsp;<strong>?</strong>&nbsp;</span>
    <span class="button" onclick="toggle_choose_cols()">Choose Columns</span>
  </div>
</div>
<div class="clear"></div>