<div id="content-section" class="grid_{{table.width}}">
  <table id="content-data">
    <thead>
      <tr>
        {% for cell in table.head|slice:"1:-1" %}
        <th scope="col">{{cell}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table.body %}
      {{row}}
      <tr>
        {% for cell in row|slice:"1:-1" %}
        <td>{{cell}}</td>
        {% endfor %}
	<td><a href="#" onclick="show_section({{row|first}})" id="row_toggle_{{row|first}}">Expand</a></td>
      </tr>
      <tr style="display: none;" id="row_{{row|first}}">
        <td colspan="12">{{row|last}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

