{% load table %}

<table id="course-table" count="{{table.body|length}}">
	<thead>
		<tr>
			<th scope="col" class="col_icon">
				<div class="fold-icon" onclick="toggle_course_row_all()"></div>
			</th>
			{% for cell in table.head|slice:"2:-1" %}
			<th scope="col" class="col_{{cell.0}}">
				<span class="course-header">{{cell.1}}</span>
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table.body %}
		<tr id="row_display_{{forloop.counter0}}" class="row_display" onclick="toggle_course_row({{forloop.counter0}})">
			<td class="col_icon">
				<div class="fold-icon"></div>
			</td>
			<td class="col_{{row.2.0}}">
				<a href="../{{row.1.1}}" onclick="toggle_course_row({{forloop.counter0}})">{{row.2.1}}</a>
			</td>			
			<td class="col_{{row.3.0}}">{{row.3.1}}</td>
			{% for cell in row|slice:"4:-1" %}
			<td class="col_{{cell.0}}">
				<span class="cell_average">{{cell.1.0|floatformat:2}}</span>
				<span class="cell_recent">{{cell.1.1|floatformat:2}}</span>
			</td>
			{% endfor %}
		
		</tr>
		<tr class="row_hidden" id="row_hidden_{{forloop.counter0}}">
			<td class="td_hidden" colspan="50">{% section_table row|last|last forloop.counter0 %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
