{% load table %}

<table id="section-table">
	<tbody>		
		<tr>
			{% for cell in table.head %}
			<td class="sec_th col_{{cell.0}}">
				{{cell.1}}
			</td>
			{% endfor %}
		</tr>
		
		{% for row in table.body %}
		<tr class="sec_row_display" onclick="$('#row_hidden_{{row_id}} .sec_row_hidden_{{forloop.counter0}}').toggle()">
			{% for cell in row %}
			<td class="col_{{cell.0}}">{{cell.1}}</td>
			{% endfor %}
		</tr>
		<tr class="sec_row_hidden sec_row_hidden_{{forloop.counter0}}">
			<td class="sec_td_hidden" colspan="50">
				No comments for this section.
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
