<div id="banner-score" class="grid_4">

  {% for row in scorecard %}
  <div class="grid_4 alpha omega scoreboxrow">
    <div class="grid_1 alpha scoredesc">
      <p class="title">{{row.title}}</p>
      <p class="subtitle">{{row.subtitle}}</p>
    </div>
    {% with row|last as last %}
    {% for scorebox in row %}
    {% if scorebox == last %}
    <div class="grid_1 omega scorebox">
      {% else %}
      <div class="grid_1 scorebox">
        {% endif %}
        <p class="num">{{scorebox.number}}</p>
        <p class="desc">{{scorebox.description}}</p>
      </div>
      {% endfor %}
      {% endwith %}
    </div>
    {% endfor %}
  </div>
