{% load prettify %}
<div class="title">{{title|no_hyphen}} 
	<span class="alert-btn">
		<input type="button" class="btn btn-primary btn-sm" value="Get Alerted" onclick=" window.open('http://penncoursealert.com','_blank')">
	</span>
</div>
<script>var title = "{{title|no_hyphen}}"</script>
<div class="crosslist">
  {% if aliases|length >= 1 %}
    (Also:
    {% for alias in aliases %}
    <span class="nowrap"><a href="{{alias}}">{{alias}}</a></span>{% if not forloop.last %},{% endif %}
    {% endfor %}
    )
  {% endif %}
</div>
<p class="subtitle">{{coursehistory|subtitle|capitalize_improved|safe}}</p>
<p class="desc">{{coursehistory.description|default_if_none:""}}</p>
