<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

  <meta name="description" content="Penn Course Review is a tool for students at the University of Pennsylvania to search for the best professor and classes on campus. ">
  <link href="apple-touch-icon-57x57.png" sizes="57x57" rel="{{base_dir}}media/front-end/image/apple-touch-icon-57x57-precomposed.png">
  <link href="apple-touch-icon-72x72.png" sizes="72x72" rel="{{base_dir}}media/front-end/image/apple-touch-icon-72x72-precomposed.png">
  <link href="apple-touch-icon-114x114.png" sizes="114x114" rel="{{base_dir}}media/front-end/image/apple-touch-icon-114x114-precomposed.png">
  <link href="apple-touch-icon-144x144.png" sizes="144x144" rel="{{base_dir}}media/front-end/image/apple-touch-icon-144x144-precomposed.png">
  <link href="apple-touch-icon-76x76.png" sizes="76x76" rel="{{base_dir}}media/front-end/image/apple-touch-icon-76x76-precomposed.png">
  <link href="apple-touch-icon-60x60.png" sizes="60x60" rel="{{base_dir}}media/front-end/image/apple-touch-icon-60x60-precomposed.png">
  <link href="apple-touch-icon-152x152.png" sizes="152x152" rel="{{base_dir}}media/front-end/image/apple-touch-icon-152x152-precomposed.png">
  <link href="apple-touch-icon-120x120.png" sizes="120x120" rel="{{base_dir}}media/front-end/image/apple-touch-icon-120x120-precomposed.png">

  <link rel="shortcut icon" href="{{base_dir}}media/front-end/image/favicon.ico">
  
  <link type="text/css" href="{{base_dir}}media/front-end/css/bootstrap.min.css" rel="stylesheet" />
  <link type="text/css" href="{{base_dir}}media/front-end/css/960_12_col.css" rel="stylesheet" />
  <link type="text/css" href="{{base_dir}}media/front-end/css/reset.css" rel="stylesheet" />
  <link type="text/css" href="{{base_dir}}media/front-end/css/flick/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
  
  <link type="text/css" href="{{base_dir}}media/front-end/css/base.css" rel="stylesheet" />
  <link type="text/css" href="{{base_dir}}media/front-end/css/searchbox.css" rel="stylesheet" />

  <link href='//fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  {% block htmlheader-links %}{% endblock %}

  <title>{% block title %}Penn Course Review{% endblock %}</title>
  
  <script src="https://use.fontawesome.com/2f138d6ed2.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{base_dir}}media/front-end/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="{{base_dir}}media/front-end/js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{{base_dir}}media/front-end/js/searchbox.js"></script>
  <script type="text/javascript" src="{{base_dir}}media/front-end/js/display.js"></script>
  <script type="text/javascript" src="{{base_dir}}media/front-end/js/bootstrap.min.js"></script>

 {% block htmlheader-js %}{% endblock %}

  {% block htmlheader-style %}{% endblock %}

  <!--[if IE 8]>
  <style>
  #course-table .col_icon {
    width:11px;
  }
  </style>
  <![endif]-->

  <!-- start Mixpanel -->
  <script type="text/javascript">var mpq=[];mpq.push(["init","9aa52fc2877144ac5d5d92002694f984"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
  </script>
  <!-- end Mixpanel -->

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21029575-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>
{% load templates %}
<body>
  <div class="background"></div>
  <div id="wrapper">
    {% block header-div %}
      <div id="header"><div id="header-bg">
        <div class="container_12">
          {% block header-content %}
            <a href="{{base_dir}}"><div id="title" class="header-item">
              Penn Course Review
            </div></a>
            <div id="linkbar" class="header-item">
              {% links %}
            </div>
	    <span id="searchAndCart">
	      <div id="searchbar" class="header-item">
                {% include "searchbar/searchbar.html" %}
              </div>
	      <a id="cartIcon" href="{{base_dir}}cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
	    </span>
	    <div class="clear"></div>
          {% endblock %}
        </div>
      </div></div>
    {% endblock %}

    {% block banner-div %}
    <div id="banner"><div id="banner-bg">
      <div id="banner-inner" class="container_12">
        {% block banner-content %}
        {% endblock %}
      </div>
    </div></div>
    {% endblock %}

    {% block content-div %}
    <div id="content">
      <div class="container_12">
        {% block content-content %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}

    <div id="footer">
      <div id="footer-inner" class="container_12">
        {% links %}
        <p id="copyright">
          <!--[if IE 8]>
          <span style="color:#CC0000;">Best viewed in Chrome or Firefox. </span>
          <![endif]-->
          Copyright &copy; {% now "Y" %}
          <a href="http://pennlabs.org"><strong>Penn Labs</strong></a>
          |
          Hosted by
          <a href="http://stwing.upenn.edu/"><strong>STWing</strong></a>
          <!--[if IE 8>]
          <span style="color:#CC0000;">Best viewed in Chrome or Firefox. </span>
          <![endif]-->
        </p>
      </div>
    </div>
  </div>

  {% block non-wrapper %}
  {% endblock %}

  <div id="hidden">
    {% block hidden %}
    {% endblock %}
  </div>
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/DK7y9di1OfqvyeKq0bB94g.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'feedback',
  forum_id: 177712,
  tab_label: 'Feedback',
  tab_color: '#cc6d00',
  tab_position: 'bottom-right',
  tab_inverted: false
}]);
</script>
</body>
</html>
