<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <link rel="shortcut icon" href="{{base_dir}}media/front-end/image/favicon.ico">
  <link type="text/css" href="{{base_dir}}media/front-end/css/960_12_col.css" rel="stylesheet" />
  <link type="text/css" href="{{base_dir}}media/front-end/css/reset.css" rel="stylesheet" />
  <link type="text/css" href="{{base_dir}}media/front-end/css/flick/jquery-ui-1.8.16.custom.css" rel="stylesheet" />

  <link type="text/css" href="{{base_dir}}media/front-end/css/base.css" rel="stylesheet" />  
  <link type="text/css" href="{{base_dir}}media/front-end/css/searchbox.css" rel="stylesheet" />
  
  {% block htmlheader-links %}{% endblock %}
  
  <title>{% block title %}Penn Course Review{% endblock %}</title>

  <script type="text/javascript" src="{{base_dir}}media/front-end/js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{{base_dir}}media/front-end/js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{{base_dir}}media/front-end/js/jquery.cookie.js"></script>
  
  <script type="text/javascript" src="{{base_dir}}media/front-end/js/searchbox.js"></script>
  
  {% block htmlheader-js %}{% endblock %}
  
  {% block htmlheader-style %}{% endblock %}
  
  <!--[if IE 8]>
  <style>
  #course-table .col_icon {
    width:11px;
  }
  </style>
  <![endif]-->
  
  <!-- start Mixpanel -->
  <script type="text/javascript">var mpq=[];mpq.push(["init","9aa52fc2877144ac5d5d92002694f984"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
  </script>
  <!-- end Mixpanel -->

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21029575-4']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();  
  </script>
  
</head>
{% load templates %}
<body>
  <div id="wrapper">
    {% block header-div %}
      <div id="header"><div id="header-bg">
        <div class="container_12">
          {% block header-content %}
            <a href="{{base_dir}}"><div id="title" class="grid_4"></div></a>
            <div id="linkbar" class="grid_5">
              {% links %}
            </div>
            <div id="searchbar" class="grid_3">
              {% include "searchbar/searchbar.html" %}
            </div>
            <div class="clear"></div>
          {% endblock %}
        </div>
      </div></div>
    {% endblock %}
    
    {% block banner-div %}
    <div id="banner"><div id="banner-bg">
      <div id="banner-inner" class="container_12">
        {% block banner-content %}
        {% endblock %}      
      </div>
    </div></div>
    {% endblock %}
    
    {% block content-div %}
    <div id="content">
      <div class="container_12">
        {% block content-content %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    
    <div id="footer">
      <div id="footer-inner" class="container_12">
        {% links %}
        <p id="copyright">
          <!--[if IE 8]>
          <span style="color:#CC0000;">Best viewed in Chrome or Firefox. </span>
          <![endif]-->
          Copyright &copy; 2011
          <a href="http://pennapps.com/labs/"><strong>PennApps Labs</strong></a>
          |
          Hosted by
          <a href="http://stwing.upenn.edu/"><strong>STWing</strong></a>
          &nbsp;
          <!--[if IE 8]>
          <span style="color:#CC0000;">Best viewed in Chrome or Firefox. </span>
          <![endif]-->
        </p>
      </div>
    </div>
  </div>
  
  {% block non-wrapper %}
  {% endblock %}

  <div id="hidden">
    {% block hidden %}
    {% endblock %}
  </div>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/BG2CMxytrRmfLzouyrYEJw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
</body>
</html>
