{% extends "base.html" %}
{% load static %}

{% block js %}
<script type="text/javascript" src="{% static "js/coursecart.js" %}"></script>
{% endblock %}

{% block content %}
<center class="box" style="margin: 0 auto">
    <p class="courseCartHeader title">My Course Cart</p>
    <p class="courseCartDesc">The course cart is a feature for you to see all the relevant reviews for your selected courses at once with at-a-glance statistics. Search for courses to add them to your cart.</p>
    <div id="bannerScore">
        <div class="scoreboxrow courseCartRow">
            <div class="scorebox course">
                <p class="num" id="courseBoxOne">0.0</p>
                <p class="desc">Course</p>
            </div>
            <div class="scorebox instructor">
                <p class="num" id="courseBoxTwo">0.0</p>
                <p class="desc">Instructor</p>
            </div>
            <div class="scorebox difficulty">
                <p class="num" id="courseBoxThree">0.0</p>
                <p class="desc">Difficulty</p>
            </div>
            <div class="scorebox workload">
                <p class="num" id="courseBoxFour">0.0</p>
                <p class="desc">Workload</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="fillerBox"></div>
    <button id="categoriesButton" class="btn btn-primary">Choose Categories</button>
    <div id="choose-cols" style="display:none">
        <div id="choose-cols-inner">
            <div class="disable-selection box" id="choose-cols-content">
                <h1>Choose Columns to Display (Choose 4)</h1>
                <div class="clearfix">
                    <div class="col">
                        <p><input type=checkbox value=rCourseQuality id=checkbox_rCourseQuality name=rCourseQuality><label for=checkbox_rCourseQuality>Course Quality</label></p>
                        <p><input type=checkbox value=rInstructorQuality id=checkbox_rInstructorQuality name=rInstructorQuality><label for=checkbox_rInstructorQuality>Instructor Quality</label></p>
                        <p><input type=checkbox value=rDifficulty id=checkbox_rDifficulty name=rDifficulty><label for=checkbox_rDifficulty>Difficulty</label></p>
                        <p><input type=checkbox value=rAmountLearned id=checkbox_rAmountLearned name=rAmountLearned><label for=checkbox_rAmountLearned>Amount Learned</label></p>
                        <p><input type=checkbox value=rWorkRequired id=checkbox_rWorkRequired name=rWorkRequired><label for=checkbox_rWorkRequired>Amount of Work</label></p>
                        <p><input type=checkbox value=rReadingsValue id=checkbox_rReadingsValue name=rReadingsValue><label for=checkbox_rReadingsValue>Value of Readings</label></p>
                        <p><input type=checkbox value=rCommAbility id=checkbox_rCommAbility name=rCommAbility><label for=checkbox_rCommAbility>Instructor Communication</label></p>
                    </div>
                    <div class="col">
                        <p><input type=checkbox value=rInstructorAccess id=checkbox_rInstructorAccess name=rInstructorAccess><label for=checkbox_rInstructorAccess>Instructor Accessibility</label></p>
                        <p><input type=checkbox value=rStimulateInterest id=checkbox_rStimulateInterest name=rStimulateInterest><label for=checkbox_rStimulateInterest>Ability to Stimulate Interest</label></p>
                        <p><input type=checkbox value=rTAQuality id=checkbox_rTAQuality name=rTAQuality><label for=checkbox_rTAQuality>TA Quality</label></p>
                        <p><input type=checkbox value=rRecommendMajor id=checkbox_rRecommendMajor name=rRecommendMajor><label for=checkbox_rRecommendMajor>Recommend for Majors</label></p>
                        <p><input type=checkbox value=rRecommendNonMajor id=checkbox_rRecommendNonMajor name=rRecommendNonMajor><label for=checkbox_rRecommendNonMajor>Recommend for Non-Majors</label></p>
                    </div>
                </div>
                <div id="buttons" class="clearfix">
                    <div class="tooltip">
                        <span class="tooltiptext" id="submitCategoriesPopup">Please Select Four Categories</span>
                    </div>
                    <input type="button" class="btn btn-primary" value="Submit" />
                    <input type="button" class="btn btn-primary mr-2" value="Cancel" onclick="cancel_choose_cols()" />
                </div>
            </div>
        </div>
    </div>
    <div class="clear heightFifteen"></div>
    <div id="toggleView" class="btn-group">
        <span class="btn btn-primary" id="view_average" onclick="set_datamode(0)">Average</span><span class="btn btn-secondary" id="view_recent" onclick="set_datamode(1)">Most Recent</span>
    </div>
    <div class="clear"></div>
    <div id="boxHelpTag">Click a course to exclude it from the average.</div>
    <div id="courseBox"></div>
</center>
{% endblock %}
