{% extends "base.html" %}
{% block content %}
<div id="faqs" class="grid_8">
  <h1>Frequently Asked Questions</h1>
  <div id="faq0">
    <p class="question">
      How do I use the website?
    </p>
    <p class="answer">
      Each professor or course has its own page. Summary ratings for the recent semester and for all semesters are provided at the top of each page, with more detailed rating information provided below. You can choose to view or hide each course rating criteria by clicking the link on the right side of the page. You can also toggle the view mode of ratings between aggregate and most recent on the left side of the page.
    </p>
    <a class="backtotop" href="#">Back to top</a>
  </div>

  <div id="faq1">
    <p class="question">
      What's new?
    </p>
    <p class="answer">
      The site includes new features intended to make PCR's content more intuitive and accessible. The new search function allows students to search by course name, number, or professor. In addition to the traditional ratings, the site now offers ratings that average the evaluations from every semester the course or professor has been reviewed. Students can choose which information is relevant to them by selecting which rating criteria appear on the page.
    </p>
    <a class="backtotop" href="#">Back to top</a>
  </div>

  <div id="faq2">
    <p class="question">
      How are courses rated?
    </p>
    <p class="answer">
      At the end of each semester, the Provost's office, in conjunction with ISC, administers Penn's course evaluation form, which consists of eleven questions aimed at assessing the quality of the course and instructor. Each evaluation question is answered on a scale of Poor to Excellent. The ratings are translated numerically so that a rating of 0.00 corresponds a student evaluation of "Poor," 1.00 corresponds to an evaluation of "Fair," 2.00 to "Good," 3.00 to "Very Good," and 4.00 to "Excellent."
    </p>
    <a class="backtotop" href="#">Back to top</a>
  </div>

  <div id="faq3">
    <p class="question">
    </p>
    <p class="answer">
    </p>
  </div>

</div>

<div id="faqlinks" class="prefix_1 grid_3">
  <h1>&nbsp;</h1>
  <ul>
    <li>&#187;&nbsp;<a href="#faq0">How do I use the website?</a></li>
    <li>&#187;&nbsp;<a href="#faq1">What's new?</a></li>
    <li>&#187;&nbsp;<a href="#faq2">How are courses rated?</a></li>
  </ul>
</div>

</div>
{% endblock %}
