{% extends "base.html" %}

{% block htmlheader-links %}
	<link rel="stylesheet" href="media/front-end/css/index.css" />
{% endblock %}

{% block htmlheader-js %}
	<script type="text/javascript" src="media/front-end/js/index.js"></script>
{% endblock %}



{% block title %}
	{{ block.super }}
{% endblock %}


{% block header-content %}
{% endblock %}


{% block banner-content %}
	<div id="title">
		<span class="BNR">Penn</span> <span class="BNL">Course Review</span>
	</div>
	<div id="search">
		<div id="search-loading">
		</div>
		<div id="search-container">
			<div class="search">
			<div class="bar">
				<input type = "text" id="searchbox" class = "text" placeholder = "Search for a Class or Professor" autofocus>
			</div>
			<div class="shadow">
			</div>
				<div class="results">



				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
{% endblock %}


{% block content-content %}
	<div class="clear" style="margin-top:15px"></div>
	<div class="grid_8">
		<h1>Welcome!</h1>
		<p>Welcome to the new Penn Course Review!</p>
		<p>The student-run Penn Course Review has served as a valuable guide for course selection since the 1960s. Now, we have completely redesigned the experience, making it even easier to look for your classes and professors. We hope you will enjoy it!</p>
		<p>Interested in building something on the Penn Course Review API? <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dGZOZkJDaVkxdmc5QURUejAteFdBZGc6MQ#gid=0">Request API access</a>.</p>
		<p> Want easy access to Penn Course Review? Get the <a href="http://pennlabs.org/mobile/"> Penn Mobile App</a>! </p>
	</div>
	<div id="questions" class="prefix_1 grid_3">
		<h1>Questions?</h1>
		<p>If you have any questions, take a look at our <a href="faq">FAQs</a> section.</p>

		<div id="projectby">
			<p>Developed by</p><br>
			<div style="margin-top:-45px; text-align:center;">
				<a href="http://pennlabs.org" style="border:none" class="logo">
					<img style="display:inline-block;" src="media/front-end/image/labs.png" alt="Penn Labs" width="120px" />
				</a>
			</div>
		</div>
	</div>

	<div class="clear"></div>


{% endblock %}
