{% extends "base.html" %}
{% load static %}

{% block htmlheader-links %}
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
{% endblock %}

{% block htmlheader-js %}
    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
{% endblock %}



{% block title %}
	{{ block.super }}
{% endblock %}


{% block content %}
<div class="col">
    <div id="title">
        <img src="{% static "image/logo.png" %}" alt="Penn Course Review" /> <span class="title-text">Penn Course Review</span>
    </div>
    <div id="search">
        <input type = "text" id="searchbox" class="text" placeholder="Search for a Class or Professor" autofocus>
    </div>
</div>
{% endblock %}
