{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div id="title">
        <img src="{% static "image/logo.png" %}" alt="Penn Course Review" /> <span class="title-text">Penn Course Review</span>
    </div>
    <div id="search-wrapper">
        <div id="search">
            <input type="text" id="searchbox" class="text" placeholder="Search for a class or professor" autofocus>
            <div id="loading">
                <span class="pacman"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
    <div id="banner">
        <b>🎉</b> <b>Want to build impactful products like Penn Course Review?</b> Join Penn Labs this fall! Sign up for our mailing list <a href="https://eepurl.com/c07CGb" target="_blank">here</a>! <b>🎉</b>
        <a class="close" href="#"><i class="fa fa-times"></i></a>
    </div>
</div>
{% endblock %}
