{% extends "base.html" %}

{% block htmlheader-js %}
  <script type="text/javascript">
    $(document).ready(function() {
    callback = function() {
        $("#searchbox").autocomplete("enable");
        $("#loading-container").hide();
        return $("#searchbox").autocomplete("search");
      };
      init_search_box("../");
    });
  </script>
{% endblock %}

{% block htmlheader-style %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {{content|safe}}
{% endblock %}
