{% extends "base.html" %}
{% load static %}
{% load infobox %}
{% load scoretable %}
{% load prettify %}
{% load templates %}

{% block title %}
  Penn Course Review - {{title}}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/reviews.css" %}" />
{% endblock %}

{% block js %}
  <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "js/reviews.js" %}"></script>
{% endblock %}

{% block banner-content %}
  <div id="banner-info">
    {% infobox item %}
  </div>
  {% ifnotequal type 'department'%}
    {% include "pcr_detail/scorecard.html" %}
  {% endifnotequal %}
  {% ifequal type 'course' %}
  <p class="desc">{{item.description|default_if_none:""}}</p>
  <span class="button courseCart"></span>
  <script src="{% static "js/loader.js" %}"></script>
  {% endifequal %}
{% endblock %}

{% block content-content %}
<div class="box clearfix">
  {% scoretable item %}
</div>
<div class="box clearfix">
</div>
{% endblock %}
