{% extends "base.html" %}
{% load static %}
{% load infobox %}
{% load scoretable %}
{% load prettify %}
{% load templates %}

{% block title %}
  Penn Course Review - {{title}}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/select.dataTables.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/buttons.dataTables.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/reviews.css" %}" />
{% endblock %}

{% block js %}
  <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "js/dataTables.select.min.js" %}"></script>
  <script src="{% static "js/dataTables.buttons.min.js" %}"></script>
  {% if type == 'department' %}
  <script src="{% static "js/chart.min.js" %}"></script>
  {% endif %}
  {% if type == 'course' %}
  <script src="{% static "js/live.js" %}"></script>
  {% endif %}
  <script src="{% static "js/reviews.js" %}"></script>
{% endblock %}

{% block banner-content %}
  <div id="banner-info" data-type="{{ type }}">
    {% infobox item %}
  </div>
  {% if type == 'department' %}
    <div id="row-select-placeholder">
        <object type="image/svg+xml" data="{% static 'image/selectrow.svg' %}">
            <img src="{% static 'image/selectrow.svg' %}" />
        </object>
        <div id="row-select-text">Select a few rows to begin comparing courses.</div>
    </div>
    <div id="row-select-chart-container">
        <canvas id="row-select-chart"></canvas>
        <button id="chart-clear" class="btn btn-action">Clear Chart</button>
    </div>
  {% else %}
    {% include "pcr_detail/scorecard.html" %}
  {% endif %}
  {% ifequal type 'course' %}
  <p class="desc">{{item.description|default_if_none:""}}</p>
  <script src="{% static "js/loader.js" %}"></script>
  {% endifequal %}
{% endblock %}

{% block content-content %}
<div class="box clearfix">
  {% scoretable item %}
</div>
{% ifequal type 'course' %}
<div id="course-details" class="box clearfix">
  <div id="select-prof">
    <div>
        <h3 id="select-prof-text">Select a professor to see comments and more details.</h3>
        <object type="image/svg+xml" data="{% static 'image/prof.svg' %}">
            <img src="{% static 'image/prof.png' %}" />
        </object>
    </div>
  </div>
  <div id="course-details-wrapper" style="display:none">
    <h3></h3>
    <span class="btn-group">
        <button id="view_ratings" class="btn btn-sm btn-sub-primary">Ratings</button>
        <button id="view_comments" class="btn btn-sm btn-sub-secondary">Comments</button>
    </span>
    <span><button id="course-details-dropdown" class="btn btn-sm btn-sub-primary ml-2"><i class="fa fa-plus"></i></button></span>
    <div id="course-details-data"></div>
    <div id="course-details-comments" class="clearfix" style="display:none">
        <div class="list"></div>
        <div class="comments"></div>
        <p class="empty">This professor does not have any comments.</p>
    </div>
  </div>
</div>
{% endifequal %}
{% endblock %}
